# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Flask log files
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python egg files
dist/
build/
*.egg-info/

# Environment variables
.env
